.pokemon_container {
  margin: 0 auto;
  max-width: 992px;
  text-align: center;
}
.pokemon_container .name {
}
.types_container {
}
.types_wrapper {
}
.types_container h3{
    margin-bottom: .7em;
}
.types_container .type {
    padding: 0.6em 1em;
    margin-right: 0.5em;
    color: #fff;
    font-size: .8em;
    text-transform: uppercase;
    border-radius: 0.4em;
    border: 1px solid #ccc;
}
.type_normal {
  background-color: #aa9;
}

.type_fire {
  background-color: #f42;
}

.type_water {
  background-color: #39f;
}

.type_eletric {
  background-color: #fc3;
}

.type_grass {
  background-color: #7c5;
}

.type_ice {
  background-color: #6cf;
}

.type_fighting {
  background-color: #b54;
}

.type_poison {
  background-color: #a59;
}

.type_ground {
  background-color: #db5;
}

.type_flying {
  background-color: #89f;
}

.type_psychic {
  background-color: #f59;
}

.type_bug {
  background-color: #ab2;
}

.type_rock {
  background-color: #ba6;
}

.type_ghost {
  background-color: #66b;
}

.type_dragon {
  background-color: #76e;
}

.type_dark {
  background-color: #754;
}

.type_steel {
  background-color: #aab;
}

.type_fairy {
  background-color: #e9e;
}

.id_container span {
  line-height: 1.5;
  margin-left: 5px;
}
.id_container,
.data_container {
  display: flex;
  justify-content: center;
}
.data_container,
.types_container {
  margin: .9em;
}
.height_container {
  padding-right: .9em;
  border-right: 1px solid #333;
}
.weight_container {
    padding-left: .9em;
}
